.mini-title {
      font-size: 2.25rem;    
      line-height: 2.5rem;   
      margin-top: 2rem;      
      margin-bottom: 2rem;   
      font-weight: 700;
      color: black;     
}
    
.budget-card{
  width: calc((100%/3) - 15px);
}

 
